// TYPOGRAPHY
h1 {
    color: rgb(125, 125, 125);
    font-size: 4.375rem;
}
h4 {
    text-transform: uppercase;
}
p {
    font-size: 1.875rem;
}
span {
    font-size: 1.75rem;
}
// COMMON
section {
    padding: 3.125rem 0;
}
.link {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}
.row {
    gap: .625rem;
}
